name: CI

on:
  push:
    branches:
    - '**'

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - uses: ok-nick/setup-aftman@v0.4.2
      name: Install aftman
      with:
          token: ${{ SECRETS.GITHUB_TOKEN }}

    - name: Lint
      run: |
        selene ./Packages
    
  style:
    name: Styling
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: JohnnyMorganz/stylua-action@1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # version: v3.0.0 # NOTE: we recommend pinning to a specific version in case of formatting changes
          # CLI arguments
          args: --check ./Packages